/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  color: #526066;
  background: transparent url('../assets/tilt-shift-galaxy-1.jpg') 0 0 no-repeat fixed;
  background-size: cover;
}

p {
  line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.section-project {
  margin: 0 auto;
  background: rgba(29, 26, 26, 0.6);
}

.section-project > .section-label {
  margin-top: 0px;
  padding-top: 1em;
  width: 100%;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.github-button {
  display: inline-block;
  background: url(../assets/GitHub-Mark-Light-32px.png) 0 0 no-repeat;
  width: 32px;
  height: 32px;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
#main-menu.pure-menu {
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  background: #1D1A1A;
  min-height: 36px;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.starlight-text {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: color 2s, text-shadow 2s;
  transition: color 2s, text-shadow 2s;
}
.starlight-text:hover {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.banner {

}

.banner-wrapper {
  text-align: center;
  height: 850px;
  width: 100%;
  display: table;
}

.banner-wrapper > .banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 500;
}

.banner-fader {
  height: 1em;
  background: -moz-linear-gradient(top, rgba(29,26,26,0) 0%, rgba(29,26,26,0.1) 20%, rgba(29,26,26,0.2) 30%, rgba(29,26,26,0.5) 80%, rgba(29,26,26,0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,26,26,0)), color-stop(20%,rgba(29,26,26,0.1)), color-stop(30%,rgba(29,26,26,0.2)), color-stop(80%,rgba(29,26,26,0.5)), color-stop(100%,rgba(29,26,26,0.6)));
  background: -webkit-linear-gradient(top, rgba(29,26,26,0) 0%,rgba(29,26,26,0.1) 20%,rgba(29,26,26,0.2) 30%,rgba(29,26,26,0.5) 80%,rgba(29,26,26,0.6) 100%);
  background: -o-linear-gradient(top, rgba(29,26,26,0) 0%,rgba(29,26,26,0.1) 20%,rgba(29,26,26,0.2) 30%,rgba(29,26,26,0.5) 80%,rgba(29,26,26,0.6) 100%);
  background: -ms-linear-gradient(top, rgba(29,26,26,0) 0%,rgba(29,26,26,0.1) 20%,rgba(29,26,26,0.2) 30%,rgba(29,26,26,0.5) 80%,rgba(29,26,26,0.6) 100%);
  background: linear-gradient(to bottom, rgba(29,26,26,0) 0%,rgba(29,26,26,0.1) 20%,rgba(29,26,26,0.2) 30%,rgba(29,26,26,0.5) 80%,rgba(29,26,26,0.6) 100%);
}

/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .project-cards,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.project-cards {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .project-card class
 */
.project-card {
  border: 1px solid #ddd;
  border-radius: 20px 0;
  margin: 0 0.5em 2em;
}


/*
// -- PROJECT HEADER --
*/

.project-card-header {
  background: transparent;
  color: #fff;
}
.project-card-header > h2 {
  margin: 0;
  padding-top: 0.75em;
  font-size: 2em;
  font-weight: normal;
}
.project-card-category {
  display: block;
  margin: 0.2em 0 0;
  font-size: 1em;
  font-weight: 100;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  color: rgba(255, 255, 255, 0.5);
  *color: #fff;
}

/*
// -- PRICING TABLE HEADER COLORS --
*/

/*.project-card-1 .project-card-header {
  background: #777799; // lavender
}

.project-card-2 .project-card-header {
  background: #99AABB; // pale blue
}

.project-card-3 .project-card-header {
  background: #445555; // green
}*/



/*
// -- PROJECT COLUMN LIST --
*/
.project-card-blurb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.project-card-blurb li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    min-height: 1.2em;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
  background: #111;
  color: #888;
  text-align: center;
  padding: 0.5em 2em;
}


/*
 * -- PORTABLE + TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .project-card {
        /*margin-bottom: 0;*/
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
/*@media (min-width: 480px) {
    .banner-wrapper {
      height: 400px;
    }
    .banner-head {
      font-size: 3em;
    }
}
*/